.add-page{

    text-align: center;
    svg{
        fill: #36d8ff;
        width: 12rem;
        padding-top: 2rem;
    }

    .add-page-tagline{
        padding-bottom: 2rem;
    }

    form{
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        font-size: 1rem;

        input{
            height: 1.6rem;
            padding-left: 8px;
            border: none;
            border-bottom: 1.5px solid #ddd;
            border-radius: 4px;
            font-size: 1rem;
            
        }
        label{
            padding-left: 1rem;
        }

        select{
            border: none;
            border-radius: 2px;
        }

        .complete-field{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.2rem;
        }

        .complete-field input{
            transform: scale(1.8);
            margin-left: 1rem;
            margin-bottom: 7px;
        }

        .title-field{
            display: inline;
            label{
                vertical-align: top;
            }
            textarea{
                font-size: 0.8rem;
                width: 360px;
                height: 200px;
                padding: 5px;
                border-radius: 4px;
                resize: none;
                border: none;
                border-bottom: 1.5px solid #ddd;
            }
        } 
    }


    button{
        text-decoration: none;
        border: none;
        border-radius: 0.4rem;
        background-color: blue;
        color: white;
        padding: 0.1rem 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
    button:hover{
        cursor: pointer;
        background-color:#8080ff;
        color: white;
        transition: 0.2s;
    }
}