.error-page{
    text-align: center;
    padding-top: 1rem;
    svg{
        fill: rgba(54, 216, 255, 0.3);
        width: 5rem;
        text-align: center;
    }

    .ui-Header{
        font-size: 1rem;
        color: rgba(darkblue, 0.3);
        padding-bottom: 10rem;
    }

    .error-tagline{
        font-size: 2rem;
        font-weight: bold;
        padding-top: 1rem;
    }

    .error-message{
        font-size: 1.1rem;
        color: rgba(darkblue, 0.5);
        padding: 0 8rem 2rem 8rem;
    }

    a{
        text-decoration: none;
        color: blue;
        padding: 0.1rem 2.5rem;
        font-size: 1.2rem;
    }

    a:hover{
        text-decoration: none;
        cursor: pointer;
        color:#8080ff;
        transition: 0.2s;
    }
}