.error-page{
    text-align: center;
    padding-top: 10rem;
    svg{
        fill: rgba(54, 216, 255, 0.5);
        width: 5rem;
        text-align: center;
    }

    .ui-Header{
        font-size: 1rem;
        color: rgba(darkblue, 0.5)
    }

    .ui-Heading{
        font-size: 2rem;
        padding: 1rem 0 2rem 0;
    }

    a{
        text-decoration: none;
        border: none;
        border-radius: 0.4rem;
        background-color: blue;
        color: white;
        padding: 0.1rem 2.5rem;
        font-size: 1.2rem;
    }

    a:hover{
        text-decoration: none;
        cursor: pointer;
        background-color:#8080ff;
        color: white;
        transition: 0.2s;
    }
}