.home-page{

    text-align: center;

    .home-tagline{
        margin: 2rem 10rem .5rem 5rem;
        font-size: 2rem;
        font-weight: bold;
    }

    svg{
        fill: rgb(54, 216, 255);
        width: 2.5rem;
    }

    .ui-Header{
        font-size: 1rem;
    }

    .ui-Link{
        text-decoration: none;
        transition: 0.2s;
    }
}