.home-page{
    text-align: center;

    .home-tagline{
        margin: 2rem 10rem .5rem 5rem;
        font-size: 2rem;
        font-weight: bold;
    }

    svg{
        fill: rgb(54, 216, 255);
        width: 2.5rem;
    }

    .ui-Header{
        font-size: 1rem;
    }

    .ui-Link{
        text-decoration: none;
        transition: 0.2s;
    }

    .add-button{
        font-size: 3rem;
        height: 5rem;
        width: 5rem;
        border-radius: 10rem;
        border: 0.3rem solid white;
        text-align: center;
        background-color: blue;
        color: white;
    }

    .add-button:hover{
        cursor: pointer;
    }
}