body{
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
    color: darkblue;
    font-size: 1.2rem;
}

.landing-Page{
    text-align: center;
    svg{
        fill: #36d8ff;
        width: 12rem;
        padding-top: 10rem;
    }
    a{
        text-decoration: none;
        border: none;
        border-radius: 0.4rem;
        background-color: blue;
        color: white;
        padding: 0.1rem 2.5rem;
        font-size: 1.2rem;
    }
    a:hover{
        text-decoration: none;
        cursor: pointer;
        background-color:#8080ff;
        color: white;
        transition: 0.2s;
    }
    h1{
        font-size: 1rem;
        margin-bottom: 5rem;
    }
}
.ui-header{
    text-align: center;
    padding: 3rem 0;
    h1{
        font-size: 1rem;
    }
}

