.list-page{
    text-align: center;

    .list-page-tagline{
        margin: 1rem auto;
        font-size: 2rem;
        font-weight: bold;
    }

    svg{
        fill: rgba(54, 216, 255, 0.3);
        width: 2.5rem;
    }

    .ui-Header{
        font-size: 1rem;
        color: rgba(darkblue, 0.3)
    }

    .ui-Link{
        text-decoration: none;
        transition: 0.2s;
    }

    h2{
        font-size: .9rem;
        text-align: left;
        padding-left: 2.1rem;
        margin-top: 2rem;
    }

    //Styles for cards

    ul{
        display: flex;
        flex-flow: wrap;
        text-align: left;
        padding: 0 1rem;
        font-size: 0.8rem;
        justify-content: center;
    }

    li{
        border-radius: 0.5rem;
        box-shadow: 1.2px 1.2px #aaa;
        margin: 0.6rem 0.6rem;
        padding: 1rem;
        width: 12rem;
        height: 12rem;
        background-color: white;
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
    }

    .card-title{
        font-weight: bold;
        font-size: 1rem;
        margin-bottom: 0.1rem;
    }

    .card-desc{
        margin-bottom: 2rem;
    }

    .card-comp, .card-date{
        font-size: 0.6rem;
    }

    .controls button{
        border: none;
        margin-top: 0.5rem;
        background-color: white;
    }
    
    .controls svg{
        fill: #ccc;
    }

    .controls svg:hover{
        cursor: pointer;
        fill: #aaa;
        transition: 0.2s;
    }

    .controls button:last-child{
        margin-left: 3rem;
    }
    .add-button{
        font-size: 1.5rem;
        height: 3rem;
        width: 3rem;
        border-radius: 10rem;
        text-align: center;
        background-color: #4568F8;
        color: white;
        border:none;
        box-shadow: 1px 1px 1px 1px #ddd;
        margin-top: 1rem;
    }

    .add-button:hover{
        cursor: pointer;
        background-color: blue;
        transition: 0.3s;
    }
}